html,
body {
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  position: relative;
  height: 100%;
  background: #fff;
  margin: 1em;
  padding: 0;
}

p {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.curatorial-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-basis: 100%;
  flex: 1;
}

.curatorial-header {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: .80em;
  margin: 0;
  padding-bottom: .10em;
}

.curatorial-subheader {
  font-size: 3.5vw;
  text-transform: uppercase;
  line-height: .85em;
  margin: 0;
  padding-bottom: .25em;
}

.curatorial-info img {
  max-width: 500px;
  height: auto;
  width: 100%;
}

.to-exhibition {
  padding: 1em 1em 0 0;
}

.to-exhibition .to-exhibition-text {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: end;
  display: inline-block;
  vertical-align: text-top;
}

a {
  color: black;
}

.curatorial-text {
  font-size: 1rem;
  flex-direction: column;
  padding: 0em 1em;
  flex-basis: 100%;
  flex: 1;
}

.curatorial-subtext {
  font-size: .75rem;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}