html,
body {
  position: relative;
  height: 100%;  
  background: #fff;
  margin: 1em;
  padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.curatorial-info{
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-basis: 100%;
    flex:1;
}

.curatorial-header {
    font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
    font-size: 7vw;
    text-transform: uppercase;
    line-height: .85em;
    margin: 0;    
    padding-bottom: .15em;

}

.curatorial-subheader{
    font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
    line-height: .85em;
    margin: 0;
    padding-bottom: .25em;

}

.curatorial-info img{
    max-width: 500px;
    height: auto;
    width: 100%;
}

.to-exhibition{
    padding: 1em 1em 0 0;
}

.to-exhibition a{
    font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: end;
    display: inline-block;
    vertical-align: text-top;
}

.curatorial-text{
    font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    flex-direction: column;
    padding: 0em 1em;
    flex-basis: 100%;
    flex:1;
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    
}