.topple-text-slide {
  background: url(assets/sunbg.jpg) bottom right;
  justify-content: flex-end;
  background-repeat: no-repeat;
}

.monster-text-slide {
  background: url(assets/zoombg.jpg);
  background-size: cover;
  justify-content: flex-start;
  background-position: center;
  overflow: hidden;
}

.vimeo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo-wrapper-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper-screen iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
}

.screen {
  overflow: hidden;
}

div.swiper-slide.gravity-text-slide {
  background-color: #151D24;
  background: url(assets/gravitybg.jpg);
  background-size: cover;
}

.swiper-slide.middles-text-slide {
  background: url(assets/middlesbg.jpg);
  background-size: cover;
  background-position: bottom;
}

.swiper-slide.boomerang-text-slide {
  background: url(assets/handbg-m.jpg);
  background-size: cover;
  background-position: center;
  line-height: 2em;
  overflow: hidden;
}

div.swiper-slide.hand-text-slide {
  background: url(assets/boomerangbg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

div.swiper-slide.end-text-slide {
  background-color: black;
}

div.swiper-slide.thermodynamics-text-slide {
  background-color: #493C3C;
  background-image: url(assets/thermbg.jpg);
  background-position: center;
  background-size: cover;
}

img.therm-img {
  height: auto;
  width: 130px;
  display: inline;
  position: absolute;
  top: 46%;
}

p.thermodynamics-text {
  font-size: 2.4em;
  transition: 1s;
}

p.thermodynamics-text:hover {
  /* color: #ad060a */
}

.therm1 {
  max-width: 400px;
  position: absolute;
  top: 0;
  left: 15%;
}

.therm2 {
  max-width: 400px;
  position: absolute;
  top: 30%;
  right: 20%;
}

.therm3 {
  position: absolute;
  bottom: 0;
  left: 8%;
  transition: 1s;
  margin-bottom: 0;
}

.swiper-slide.boomerang-text-slide p {
  padding: 0 1em;
  margin: 0;
}

p.boomerang-text-1 {
  filter: blur(2px);
  opacity: 10%;
}

p.boomerang-text-2 {
  filter: blur(1px);
  opacity: 20%;
}

p.boomerang-text-3 {
  filter: blur(0.5px);
  opacity: 30%;
}

p.boomerang-text-4 {
  filter: blur(0.5px);
  opacity: 50%;
}

p.boomerang-text-5 {
  filter: blur(0.5px);
  opacity: 80%;
}

p.boomerang-text-6 {
  font-weight: 600;
}

p.boomerang-text {
  font-size: 2em;
  color: #E8DBB9;
  z-index: 99;
  margin: 0 1em;
}

p.end-text {
  font-size: 2em;
  opacity: 0.8;
  line-height: 1.7em;
  animation: blinker 8s linear infinite;
  filter: blur(1px);
  text-transform: lowercase;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.7;
  }

  70% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.7
  }

  100% {
    opacity: 1;
  }
}

.hand-text-slide div {
  max-width: 97vw;
  z-index: 10;
  /* transform: scale(0.8); */
}

div.hand-text {
  display: flex;
  text-align: left;
  color: #E8DBB9;
  font-size: 6vw;
  line-height: 6vw;
  /* font-family: 'Bebas Neue', 'Arial Narrow', sans-serif; */
  text-transform: uppercase;
}

.hand-text-mobile {
  display: none;
}

.pinch-line, .push-line {
  display: flex;
  margin-bottom: 5vh;
}

div.push {
  font-size: 12vw;
  margin: 1vw 1vw 1vw 0;
  transition: 0.3s;
}

div.push:hover {
  font-size: 6vw;
  transform: translateX(-3vw);
}

div.pull {
  font-size: 4vw;
  margin: 2vw 1vw 1vw 1vw;
  transition: 0.3s;
}

div.pull:hover {
  font-size: 9vw;
  transform: scaleX(1.3);
}

div.pinch {
  font-size: 11vw;
  margin: -1vw -4vw;
  transform: scaleX(0.5);
  transition: 0.2s;
}

div.pinch:hover {
  transform: scaleX(0.3) scaleY(1.4);
  margin-top: 0.5vw;
}

div.onthe {
  margin-top: 2vw;
}

div.then {
  font-size: 7vw;
  margin-left: -7vw;
}

div.suture {
  font-size: 3.6vw;
  line-height: 4vw;
  margin-top: -1.5vw;
  margin-left: 8vw;
  transform: scaleX(1.5);
}

div.screen {
  /* border: solid 5px #E8DBB9; */
  color: #E8DBB9;
  /* padding: 2vw; */
  /* background-image: url(assets/twobg.jpg); */
  background-position: center;
  transition: 0.5s;
}

div.screen:hover {
  /* filter: invert(); */
}

.window-img {
  opacity: 0;
  position: absolute;
  left: 10%;
  top: -40%;
  z-index: -1;
}

.window-img img {
  width: auto;
  height: 180px;
  transform: scaleX(0.6);
}

/* .suture:hover .window-img {
  opacity: 1;
} */
p.middles-text {
  color: black;
  font-size: 8vw;
  text-align: left;
  padding: 7% 2% 2% 2%;
  /* font-family: 'Bebas Neue', 'Arial Narrow', sans-serif; */
  text-transform: uppercase;
  max-width: 90vw;
  line-height: 9vw;
}

.fake-f {
  transition: 2.3s;
}

.fake-a {
  transition: 1.8s;
}

.fake-k {
  transition: 1.4s;
}

.fake-e {
  transition: 1s;
}

.fake:hover .fake-e, .fake:hover .fake-k, .fake:hover .fake-a, .fake:hover .fake-f {
  opacity: 0
}

p.gravity-text {
  filter: blur(0.4px);
  color: #D508D9;
  font-size: 4em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.6) -1.9px -1.6px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font-weight: 400;
}

p.gravity-text>*:hover {
  color: #115cef;
  text-shadow: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

p.monster-text, p.monster-text-2 {
  width: 80vw;
  position: absolute;
  text-align: left;
  /* font-family: 'Bebas Neue', 'Arial Narrow', sans-serif; */
  text-transform: uppercase;
  top: 0;
  padding: 0.8em;
}

/* p.monster-text-2 {
  transform: rotate(180deg);
  padding-top: 4em;
  color: black;
} */
p.topple-text {
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: #000 1px 1px 0.1em;
  display: flex;
  width: 4000px;
}

.swiper-slide.slide-video-link.topple-video {
  background-color: #745723;
}

.swiper-slide.slide-video-link.monster-video {
  background-color: #505140;
}

.swiper-slide.slide-video-link.gravity-video {
  background-color: #4b76c0;
}

.swiper-slide.slide-video-link.middles-video {
  background-color: #752a0f;
}

.swiper-slide.slide-video-link.boomerang-video {
  background-color: #574b38;
}

.swiper-slide.slide-video-link.end-video {
  background-color: black;
}

.swiper-slide.slide-video-link.hand-video {
  background-color: #c08668;
}

.swiper-slide.slide-video-link.thermodynamics-video {
  background-color: #3e555b;
}

.hand-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0.3;
  padding: 20vw;
}

.hand-text-slide-vimeo {}

.topple-text>* {
  width: 100%;
  display: inline-block;
  animation: title 15s infinite linear;
}

@keyframes title {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 600px) {
  .hand-text-mobile {
    display: block;
    display: flex;
    text-align: left;
    color: black;
    font-size: 11vw;
    line-height: 11vw;
    text-transform: uppercase;
    padding: 10vh 4vw;
    z-index: 99;
  }

  .hand-text-slide-vimeo {
    display: none;
  }

  div.hand-text {
    display: none;
  }

  p.topple-text {
    font-size: 1.5em;
    width: 3000px;
  }

  .topple-text>* {
    padding-bottom: 0.5em;
  }

  p.monster-text {
    font-size: 2.5em;
    line-height: 1em;
  }

  p.gravity-text {
    font-size: 1.7em;
    -webkit-text-stroke-width: 0.6px;
  }

  p.thermodynamics-text {
    font-size: 2em;
  }

  .therm3 {
    bottom: 8%;
  }

  p.middles-text {
    font-size: 12vw;
    line-height: 12vw;
    padding: 0 2% 4vh 2%;
  }

  p.end-text {
    font-size: 1.9em;
  }

  .swiper-slide.boomerang-text-slide p {
    padding-top: 10vh;
  }

  div.swiper-slide.thermodynamics-text-slide {
    background-position: left;
  }

  div.swiper-slide.middles-text-slide {
    justify-content: flex-end;
  }

  .swiper-slide.boomerang-text-slide {
    justify-content: flex-start;
  }

  .topple-text-slide {
    background-size: cover;
    background-position: center;
  }

  div.swiper-slide.hand-text-slide {
    justify-content: flex-end;
    background-size: cover;
  }
}